---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import { LoginForm } from "../../../components/client/LoginForm";
---

<SiteLayout>
  <div class="page-container">
    <h1>Login</h1>

    <LoginForm client:load type="login" />
    <a href="/auth/register" class="link"
      >Don't have an account? Register here.</a
    >
  </div>
</SiteLayout>

<style>
  .link {
    display: block;
    margin-top: 1rem;
    color: #555;

    &:hover {
      color: #333;
    }
  }
</style>
