---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import { LoginForm } from "../../../components/client/LoginForm";
---

<SiteLayout>
  <div class="container mx-auto px-4">
    <h1 class="text-4xl mt-4 mb-8">Login</h1>

    <LoginForm client:load type="login" />
    <a
      href="/auth/register"
      class="mt-4 block text-gray-500 hover:text-gray-700"
      >Don't have an account? Register here.</a
    >
  </div>
</SiteLayout>
