---
import { LodgeList } from "../../../components/client/LodgeList";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import { getLodges } from "../../../lib/api/lodges";
import { createClient } from "../../../lib/supabase";

export const prerender = false;

const client = createClient({
  request: Astro.request,
  cookies: Astro.cookies,
});

const lodges = await getLodges(client);
---

<AdminLayout>
  <h1>Lodges</h1>
  <LodgeList client:load initialLodges={lodges.data ?? []} />
</AdminLayout>
