---
import { LodgeList } from "../../../components/client/LodgeList";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import { getLodges } from "../../../lib/api/lodges";

export const prerender = false;

const lodges = await getLodges();
---

<AdminLayout>
  <h1>Lodges</h1>
  <LodgeList client:load initialLodges={lodges.data ?? []} />
</AdminLayout>
