---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodgeBySlug } from "../../lib/api/lodges";
import { getStagesByLodgeId } from "../../lib/api/stages";

const slug = Astro.params.slug ?? "";
const lodge = await getLodgeBySlug(Astro, slug);

if (!lodge.data) {
  Astro.response.status = 404;
}

const stages = lodge.data
  ? await getStagesByLodgeId(Astro, lodge.data.id)
  : null;
---

<SiteLayout>
  <div class="page-container">
    {
      lodge.data ? (
        <>
          <h1>{lodge.data.name}</h1>
          {stages?.data && (
            <>
              <h2>Related Stages</h2>
              <ul>
                {stages.data.map(({ from, to }) => {
                  return (
                    <li>
                      <span>{from.name}</span>
                      <span> - </span>
                      <span>{to.name}</span>
                    </li>
                  );
                })}
              </ul>
            </>
          )}
        </>
      ) : (
        <>
          <h1>Lodge not found</h1>
          <p>We could not find a lodge for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>
