---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodges } from "../../lib/api/lodges";

const lodges = await getLodges(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Lodges</h1>
    {
      lodges.data && (
        <ul>
          {lodges.data.map(({ name, slug }) => {
            return (
              <li>
                <a href={`/lodges/${slug}`}>{name}</a>
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</SiteLayout>
