---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodges } from "../../lib/api/lodges/getLodges";
import { pageContainer } from "../../styles/layout";

const lodges = await getLodges(Astro);
---

<SiteLayout>
  <div class={pageContainer}>
    <h1>Lodges</h1>
    {
      lodges.length > 0 && (
        <ul>
          {lodges.map(({ name, slug }) => {
            return (
              <li>
                <a href={`/lodges/${slug}`}>{name}</a>
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</SiteLayout>
