---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getStages } from "../../lib/api/stages";
import StageList from "../../components/server/StageList.astro";

const stages = await getStages(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Stages</h1>
    <StageList stages={stages.data ?? []} />
  </div>
</SiteLayout>
