---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getStages } from "../../lib/api/stages";

const stages = await getStages(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Stages</h1>
    {
      stages.data && (
        <ul>
          {stages.data.map(({ from, to }) => {
            return (
              <li>
                <span>{from.name}</span>
                <span> - </span>
                <span>{to.name}</span>
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</SiteLayout>
