---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getStages } from "../../lib/api/stages";
import { formatStageMetrics } from "../../lib/utils/formatStage";

const stages = await getStages(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Stages</h1>
    {
      stages.data && (
        <ul>
          {stages.data.map(({ from, to, duration, distance }) => {
            return (
              <li>
                <span>{from.name}</span>
                <span> - </span>
                <span>{to.name}</span>
                <span class="stage-metrics">
                  {formatStageMetrics(duration, distance)}
                </span>
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</SiteLayout>

<style>
  .stage-metrics {
    margin-left: 0.5rem;
    color: #666;
    font-style: normal;
  }
</style>
