---
import SiteLayout from "../../layouts/SiteLayout.astro";
import StageList from "../../components/server/StageList.astro";
import { getStages } from "../../lib/api/stages/getStages";

const stages = await getStages(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Stages</h1>
    <StageList stages={stages} />
  </div>
</SiteLayout>
