---
import { actions } from "astro:actions";
import { createLodge, getLodges } from "../lib/api/lodges";

export const prerender = false; // Not needed in 'server' mode

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    await createLodge(data.get("name") as string);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const lodges = await getLodges();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>

    <form method="POST">
      <input type="text" name="name" placeholder="Lodge name" />
      <button type="submit">Submit</button>
    </form>

    {
      lodges.data && (
        <ul>
          {lodges.data.map((lodge) => (
            <li>
              <span>{lodge.name}</span>
              <form method="POST" action={actions.deleteLodge}>
                <input type="hidden" name="id" value={lodge.id} />
                <button type="submit">Delete</button>
              </form>
            </li>
          ))}
        </ul>
      )
    }
  </body>
</html>
