---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import type { EmailOtpType } from "@supabase/supabase-js";
import { createClient } from "../../../lib/supabase";

const supabase = createClient({
  request: Astro.request,
  cookies: Astro.cookies,
});

const requestUrl = new URL(Astro.request.url);
const token_hash = requestUrl.searchParams.get("token_hash");
const type = requestUrl.searchParams.get("type") as EmailOtpType | null;

if (token_hash && type) {
  const { error } = await supabase.auth.verifyOtp({
    token_hash,
    type,
  });

  if (!error) {
    return Astro.redirect("/admin");
  }
}

return Astro.redirect("/auth/login");
---

<SiteLayout>
  <div class="page-container">
    <p>Verifying your email...</p>
  </div>
</SiteLayout>
