---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import {
  getTourBySlug,
  getTourVariantBySlug,
  getTourVariantStages,
  getTourVariants,
} from "../../../lib/api/tours";
import TourContent from "../../../components/server/TourContent.astro";

const tourSlug = Astro.params.slug ?? "";
const variantSlug = Astro.params.variantSlug ?? "";
const tour = await getTourBySlug(Astro, tourSlug);
const tourData = tour.data;
const tourDataSlug = tourData?.slug ?? "";

if (!tourData) {
  Astro.response.status = 404;
}

const variant = tourData
  ? await getTourVariantBySlug(Astro, tourData.id, variantSlug)
  : null;

const variantData = variant?.data;

if (tourData && !variantData) {
  Astro.response.status = 404;
}

const variantStages =
  variantData &&
  (await getTourVariantStages(Astro, { variantIds: [variantData.id] }));

const variants =
  tourData && (await getTourVariants(Astro, { tourIds: [tourData.id] }));
---

<SiteLayout>
  <div class="page-container">
    {
      tourData && variantData ? (
        <TourContent
          tour={{ name: tourData.name, slug: tourDataSlug }}
          variants={variants?.data ?? []}
          selectedVariant={variantData}
          stages={variantStages?.data ?? []}
        />
      ) : (
        <>
          <h1>Tour variant not found</h1>
          <p>
            We could not find a variant for tour {tourSlug} and slug{" "}
            {variantSlug}.
          </p>
        </>
      )
    }
  </div>
</SiteLayout>
