---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import TourContent from "../../../components/server/TourContent.astro";
import { getTourBySlug } from "../../../lib/api/tours/getTourBySlug";
import { getTourVariantStagesByTourVariantId } from "../../../lib/api/tours/getTourVariantStagesByTourVariantId";
import { getTourVariantsByTourId } from "../../../lib/api/tours/getTourVariantsByTourId";

const slug = Astro.params.slug ?? "";
const tour = await getTourBySlug(Astro, slug);

if (!tour) {
  Astro.response.status = 404;
}

const variants = tour ? await getTourVariantsByTourId(Astro, tour.id) : [];

const primaryVariant =
  variants.find(({ is_primary }) => is_primary) ?? variants[0] ?? null;

const primaryVariantStages = primaryVariant
  ? await getTourVariantStagesByTourVariantId(Astro, primaryVariant.id)
  : [];
---

<SiteLayout>
  <div class="page-container">
    {
      tour ? (
        primaryVariant ? (
          <TourContent
            tour={{ name: tour.name, slug: tour.slug }}
            variants={variants}
            selectedVariant={primaryVariant}
            stages={primaryVariantStages}
          />
        ) : (
          <h1>Tour not found</h1>
        )
      ) : (
        <>
          <h1>Tour not found</h1>
          <p>We could not find a tour for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>
