---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import {
  getTourBySlug,
  getTourVariantStages,
  getTourVariants,
} from "../../../lib/api/tours";
import TourContent from "../../../components/server/TourContent.astro";

const slug = Astro.params.slug ?? "";
const tour = await getTourBySlug(Astro, slug);
const tourData = tour.data;
const tourDataSlug = tourData?.slug ?? "";

if (!tourData) {
  Astro.response.status = 404;
}

const variants = tourData
  ? await getTourVariants(Astro, { tourIds: [tourData.id] })
  : null;

const variantRows = variants?.data ?? [];

const primaryVariant =
  variantRows.find(({ is_primary }) => is_primary) ?? variantRows[0] ?? null;

const primaryVariantStages = primaryVariant
  ? await getTourVariantStages(Astro, { variantIds: [primaryVariant.id] })
  : null;
---

<SiteLayout>
  <div class="page-container">
    {
      tour.data ? (
        primaryVariant ? (
          <TourContent
            tour={{ name: tour.data.name, slug: tourDataSlug }}
            variants={variantRows}
            selectedVariant={primaryVariant}
            stages={primaryVariantStages?.data ?? []}
          />
        ) : (
          <h1>Tour not found</h1>
        )
      ) : (
        <>
          <h1>Tour not found</h1>
          <p>We could not find a tour for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>
