---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getTours } from "../../lib/api/tours";

const tours = await getTours(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Tours</h1>
    {
      tours.data && (
        <ul class="tours">
          {tours.data.map((tour) => (
            <li>
              <a href={`/tours/${tour.slug}`}>{tour.name}</a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</SiteLayout>

<style>
  section {
    margin-block-end: 2rem;
  }

  ol {
    margin-block-start: 0.75rem;

    li {
      font-style: italic;
    }
  }

  .stage-separator {
    margin-inline: 0.25rem;
    color: #999;
  }
</style>
