---
import SiteLayout from "../../layouts/SiteLayout.astro";
import TourList from "../../components/server/TourList.astro";
import { getTours } from "../../lib/api/tours/getTours";

const tours = await getTours(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Tours</h1>
    <TourList tours={tours} />
  </div>
</SiteLayout>
