---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getTourList } from "../../lib/api/tours";
import TourList from "../../components/server/TourList.astro";

const tours = await getTourList(Astro);
---

<SiteLayout>
  <div class="page-container">
    <h1>Tours</h1>
    <TourList tours={tours} />
  </div>
</SiteLayout>
