---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodges } from "../../lib/api/lodges";
import { getStages } from "../../lib/api/stages";
import { getTourList } from "../../lib/api/tours";
import StageList from "../../components/server/StageList.astro";
import TourList from "../../components/server/TourList.astro";

const [lodges, stages, tours] = await Promise.all([
  getLodges(Astro, { limit: 5 }),
  getStages(Astro, { limit: 5 }),
  getTourList(Astro, { limit: 5 }),
]);
---

<SiteLayout>
  <div class="page-container">
    <h1>Explore</h1>
    <section>
      <div class="section-header">
        <h2>Lodges</h2>
        <a class="section-link" href="/lodges">View all</a>
      </div>
      {
        lodges.data && (
          <ul>
            {lodges.data.map(({ name, slug }) => {
              return (
                <li>
                  <a href={`/lodges/${slug}`}>{name}</a>
                </li>
              );
            })}
          </ul>
        )
      }
    </section>

    <section>
      <div class="section-header">
        <h2>Single-Day Hikes</h2>
        <a class="section-link" href="/stages">View all</a>
      </div>
      <StageList stages={stages.data ?? []} />
    </section>

    <section>
      <div class="section-header">
        <h2>Multi-Day Tours</h2>
        <a class="section-link" href="/tours">View all</a>
      </div>
      <TourList tours={tours} />
    </section>
  </div>
</SiteLayout>

<style>
  .section-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  .section-link {
    font-style: italic;
  }
</style>
