---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodges } from "../../lib/api/lodges";
import { getStages } from "../../lib/api/stages";
import { getTours } from "../../lib/api/tours";

const lodges = await getLodges(Astro, { limit: 5 });
const stages = await getStages(Astro, { limit: 5 });
const tours = await getTours(Astro, { limit: 5 });
---

<SiteLayout>
  <div class="page-container">
    <h1>Explore</h1>
    <section>
      <h2>Lodges</h2>
      <a href="/lodges">Show more</a>
      {
        lodges.data && (
          <ul>
            {lodges.data.map(({ name }) => {
              return (
                <li>
                  <span>{name}</span>
                </li>
              );
            })}
          </ul>
        )
      }
    </section>

    <section>
      <h2>Stages</h2>
      <a href="/stages">Show more</a>
      {
        stages.data && (
          <ul>
            {stages.data.map(({ from, to }) => {
              return (
                <li>
                  <span>{from.name}</span>
                  <span> - </span>
                  <span>{to.name}</span>
                </li>
              );
            })}
          </ul>
        )
      }
    </section>

    <section>
      <h2>Tours</h2>
      <a href="/tours">Show more</a>
      {
        tours.data && (
          <ul>
            {tours.data.map(({ name }) => {
              return (
                <li>
                  <span>{name}</span>
                </li>
              );
            })}
          </ul>
        )
      }
    </section>
  </div>
</SiteLayout>

<style>
  h2 + a {
    font-style: italic;
  }
</style>
