---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodges } from "../../lib/api/lodges";
import { createClient } from "../../lib/supabase";

const client = createClient(Astro);

const lodges = await getLodges(Astro);

const stages = await client.from("stages").select(
  `
  id,
  from:lodges!from_lodge_id(name),
  to:lodges!to_lodge_id(name)`,
);
---

<SiteLayout>
  <div class="page-container">
    <h1>Explore</h1>
    <h2>Lodges</h2>
    {
      lodges.data && (
        <ul>
          {lodges.data.map(({ name }) => {
            return (
              <li>
                <span>{name}</span>
              </li>
            );
          })}
        </ul>
      )
    }

    <h2>Stages</h2>
    {
      stages.data && (
        <ul>
          {stages.data.map(({ from, to }) => {
            return (
              <li>
                <span>{from.name}</span>
                <span> - </span>
                <span>{to.name}</span>
              </li>
            );
          })}
        </ul>
      )
    }
  </div>
</SiteLayout>

<style>
  ul {
    li {
      font-style: italic;
    }
  }
</style>
