---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getLodges } from "../../lib/api/lodges";

const lodges = await getLodges(Astro);
console.log(lodges);
---

<SiteLayout>
  <div class="page-container">
    <h1>Explore</h1>
  </div>
</SiteLayout>
