<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>VRTX Admin</title>
  </head>
  <body>
    <header>
      <a href="/admin">VRTX Admin</a>
      <nav>
        <a href="/admin/lodges">Lodges</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
